[package]
name = "minecraft-whitelist-validator"
version = "0.1.1"
edition = "2018"

[dependencies]
clap = "2.33.3"
reqwest = { version = "0.11.4", default-features = false, features = ["rustls-tls", "json"] }
serde = { version = "1.0.126", features = ["derive"] }
serde_json = "1.0.64"
tokio = { version = "1.8.2", features = ["rt", "rt-multi-thread", "macros"] }
uuid = { version = "0.8.2", features = ["serde", "v4"] }
