[package]
name = "minecraft-whitelist-validator"
version = "0.2.0"
authors = ["sksat <sksat@sksat.net>"]
edition = "2018"

license = "MIT"
description = "validate Minecraft whitelist.json"
repository = "https://github.com/sksat/minecraft-whitelist-validator"
readme = "README.md"

categories = ["games"]
keywords = ["minecraft"]

[dependencies]
clap = "3.0.0"
reqwest = { version = "0.11.8", default-features = false, features = ["rustls-tls", "json"] }
serde = { version = "1.0.133", features = ["derive"] }
serde_json = "1.0.73"
tokio = { version = "1.15.0", features = ["rt", "rt-multi-thread", "macros"] }
uuid = { version = "0.8.2", features = ["serde", "v4"] }
