[package]
name = "minecraft-whitelist-validator"
version = "0.1.0"
edition = "2018"

[dependencies]
clap = "2.33.3"
reqwest = { version = "0.11.4", features = ["json"] }
serde = { version = "1.0.126", features = ["derive"] }
serde_json = "1.0.64"
tokio = { version = "1.8.1", features = ["rt", "macros"] }
