name: CI

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  pull_request:
    paths:
      - 'src/**'
      - 'Cargo.toml'
      - 'Cargo.lock'
      - 'test/**'
      - 'rust-toolchain'
      - '.github/workflows/ci.yml'

env:
  CARGO_INCREMENTAL: 0

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Get Rust toolchain
        id: toolchain
        run: |
          echo -n "::set-output name=toolchain::"
          awk -F'[ ="]+' '$1 == "channel" { print $2 }' rust-toolchain

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ steps.toolchain.outputs.toolchain }}
          components: clippy
          override: true

      - name: cache dependencies
        uses: Swatinem/rust-cache@v2.6.2

      - name: reviewdog / clippy
        uses: sksat/action-clippy@v0.2.1
        with:
          reporter: github-pr-review
          clippy_flags: --all-features

      - name: execute unit test
        uses: actions-rs/cargo@v1
        with:
          command: test
