name: Release

on:
  push:
    tags:
      - 'v*'
  pull_request:
    paths:
      - '.github/workflows/release.yml'

permissions:
  contents: write

env:
  CARGO_INCREMENTAL: 0

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Pre Release
        uses: softprops/action-gh-release@v2.4.1
        if: startsWith(github.ref, 'refs/tags/') && contains(github.ref, 'rc')
        with:
          draft: true
          prerelease: true
          generate_release_notes: false

      - name: Release
        uses: softprops/action-gh-release@v2.4.1
        if: startsWith(github.ref, 'refs/tags/') && (!contains(github.ref, 'rc'))
        with:
          draft: false
          prerelease: false
          generate_release_notes: true

  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Get Rust toolchain
        id: toolchain
        run: |
          awk -F'[ ="]+' '$1 == "channel" { print "toolchain=" $2 }' rust-toolchain >> "$GITHUB_OUTPUT"
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ steps.toolchain.outputs.toolchain }}
          targets: x86_64-unknown-linux-musl

      - name: package
        run: cargo package
      - name: check package
        run: |
          echo "$ ls"; ls
          echo "$ ls target/package"; ls target/package/
      - name: publish(dry run)
        run: |
          cargo publish --dry-run
      - name: publish
        if: startsWith(github.ref, 'refs/tags/')
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
        run: |
          cargo publish
