name: test Action

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'action.yml'
      - '.github/workflows/test-action.yml'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: checkout mc.yohane.su
        uses: actions/checkout@v5
        with:
          repository: sksat/mc.yohane.su
          ref: main
          path: mc.yohane.su

      - uses: sksat/minecraft-whitelist-validator@main
        with:
          json: mc.yohane.su/data/whitelist.json
          rdjson: errors.json

      - name: check errors
        run: jq < errors.json
